*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    gap: 7px;
    margin: 5px;
}
h2{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}
h3{
    font-size: 10px;
    font-style: italic;
    margin-bottom: 10px;
}
p{
    font-size: 8px;
    text-indent: 5px;
}